@{
	ViewData["Title"] = "Pokédex Main Page";
}

<h3>Welcome to my Pok&eacute;dex</h3>

<p>
	I made this site for two reasons. For one, I wanted practice with web
	development. This site has become my testbed for new technologies; in fact,
	this site is made with MVC5, ASP.NET 6 and EntityFramework 7 (...huh, they're
	counting up?) and was written while those technologies were still in
	prerelease (assuming you're reading this after they have been released
	officially) (please excuse my liberal use of parentheses). This site's visual
	theme was designed entirely on my own, so feel free to cringe at my handiwork.
</p>
<p>
	The second reason I made this site, or more specifically, the reason why I
	made it a Pok&eacute;dex, is because Pok&eacute;mon remains my favorite game
	of all time. That, and I wanted to show off my ability to design, create and
	maintain a database with thousands of records and more than a dozen
	interconnected tables while displaying that information in a simple,
	non-overwhelming way. That being said, if you know next to nothing about the
	games, this site may still look daunting. That's all right. If you're new to
	Pok&eacute;mon, welcome! If you're here to preview my abilities at the
	keyboard, just click around. Even if you don't understand why MR. MIME can be
	FEMALE, or who could've thought up INKAY's bizarre method of evolution, don't
	worry. You should see quite a bit of interconnectedness and get an idea for
	the roads that connect the tables nonetheless.
</p>